{% extends "ex01/base.html" %}

{% block title %}
Django History
{% endblock %}
{% block content %}
Django (/ˈdʒæŋɡoʊ/ jang-goh)[5] is a free and open-source web framework, written in Python, which follows the model-view-template (MVT) architectural pattern.[6][7] It is maintained by the Django Software Foundation (DSF), an independent organization established as a 501(c)(3) non-profit.<br/><br/>

Django's primary goal is to ease the creation of complex, database-driven websites. Django emphasizes reusability and "pluggability" of components, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings files and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.<br/><br/>

Some well-known sites that use Django include the Public Broadcasting Service,[8] Pinterest,[9] Instagram,[10] Mozilla,[11] The Washington Times,[12] Disqus,[13] Bitbucket,[14] and Nextdoor.[15]
<br/><br/>
Django was born in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications.[16] It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.[16]<br/><br/>

In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.[17]
{% endblock %}
